.subscribe-form{
    padding: 58px 40px;
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);
    display: flex;
    column-gap: 20px ;
    width: 100%;
    max-width: 634px;

    @include desktop{
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        padding: 10px 20px;
        max-width: 450px;
    }
     
     

}